@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-dark-red: #4e0110;
  --color-accent-red: #ef233c;
  --color-snowhite: #fff9fb;
  --color-darkgray: #BDB3B6;
  --color-lightpink: #F9EDF1;
  --font-nunito: "Nunito", "sans-serif";
  --font-poppins: "Poppins", "sans-serif";
}

.link-highlight {
  @apply font-bold hover:text-accent-red transition-colors duration-200;
}

.box-dark {
  @apply text-snowhite bg-dark-red ;
}

.box-accent {
  @apply text-snowhite bg-accent-red;
}

.box-light {
  @apply text-dark-red bg-lightpink;
}

.box-dark, .box-light, .box-accent {
  @apply p-3 rounded-3xl
}

.box-dark h1, .box-light h1, .box-accent h1 {
  @apply text-6xl font-bold
}

.box-dark p, .box-light p, .box-accent p {
  @apply text-sm
}