---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex flex-col gap-20 mx-auto lg:max-w-4xl w-full">
        <div class="flex-1 flex flex-col gap-4 text-dark-red text-xl justify-start mt-20">
            <h2 class="text-accent-red font-poppins font-bold text-3xl">&ltleadership/&gt</h2>
            <div class="flex flex-col sm:flex-row gap-6 font-poppins items-center">
                <div class="flex flex-col gap-4">
                    <div class="box-dark">
                        <p>WiCS President</p>
                        <h1>2024-</h1>
                        <h1>2025</h1>
                    </div>
                    <div class="box-accent">
                        <p>launched a new</p>
                        <h1>CS Expo 2025</h1>
                        <p>showcasing student projects with over 35 presenters - completely student run</p>
                    </div>
                    <div class="box-dark">
                        <p>set up</p>
                        <h1>Speed Dating</h1>
                        <p class="mt-3">for Mentor-Mentee pairings as part of the WiCS Mentorship Program </p>
                    </div>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="box-accent">
                        <p>Increased hacker retention rate to</p>
                        <h1>80%</h1>
                        <p>while serving as Co-Director of SparkHacks 2024</p>
                    </div>
                    <div class="flex flex-col sm:flex-row gap-4">
                        <div class="flex flex-col gap-4">
                            <div class="box-light text-center">
                                <h1>32</h1>
                                <p>WiCS Events hosted</p>
                            </div>

                            <div class="box-dark text-center">
                                <p>led</p>
                                <h1>3</h1>
                                <p>technical WiCS workshops</p>
                            </div>
                        </div>
                        <div class="flex flex-col gap-4">
                            <div class="box-light">
                                <p>launched a new program titled</p>
                                <h1>Dev Project</h1>
                                <p class="mt-3">to create student driven projects to build technical experience, collaboration and creativity</p>
                            </div>
                            <div class="box-accent text-center">
                                <h1>450</h1>
                                <p>students checked in to a WiCS Event in 2024-2025</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-light">
                        <p>raised</p>
                        <h1>$35,0000</h1>
                        <p>from departmental and industry sponsorships for SparkHacks 2024</p>
                    </div>
                </div>
            </div>

            
        </div>
	</div>
</Layout>



