---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';

import { getEntry, render } from 'astro:content';

const entry = await getEntry('pages', 'now');
if (!entry) {
  // Handle Error, for example:
  throw new Error('Could not find now');
}
const { Content } = await render(entry);

---

<Layout>
	<div class="flex flex-col gap-20 mx-auto lg:max-w-4xl w-full">
        <div class="flex-1 flex flex-col gap-4 text-dark-red text-xl justify-start mt-20">
            <h2 class="text-accent-red font-poppins font-bold text-3xl">&ltnow/&gt</h2>
            <div class="prose lg:prose-xl flex flex-col gap-6">
                <Content/>
            </div>
            <h2 class="text-gray-700 mt-10">This is a "now page" - <a href="https://nownownow.com/about" target="_blank" class="link-highlight italic underline">learn more</a></h2>
            <h2 class="text-right">Updated {entry.data.date}</h2>
        </div>
	</div>
</Layout>



