---
import {Image } from "astro:assets";
import nan from "../assets/nan.png";
---

<div class="flex flex-col gap-4 text-dark-red text-xl">
    <h2 class="text-accent-red font-poppins font-bold text-3xl">&ltabout/&gt</h2>
    <div class="flex flex-col gap-6 mt-10">
        <p>I'm Nandana (nun-the-nah) and I am an incoming MS student to <a class="link-highlight" href="https://rackham.umich.edu/" target="_blank">University of Michigan, Ann Arbor.</a></p>
        <p>I recently graduated from the University of Illinois Chicago with a BS in Computer Science & as a <a class="link-highlight" href="https://engineering.uic.edu/undergraduate/academic-honors/#honors-graduates" target="_blank">Bell Honor Recipient.</a> I'm interested in Full Stack Development and exploring Natural Language Processing. I previously interned at CNA Insurance and won 1st place at <a class="link-highlight" href="https://devpost.com/software/survivex" target="_blank">Stanford's TreeHacks. </a></p>
    </div>
    <div class="flex flex-col md:flex-row gap-8">
        <div class="flex flex-col gap-2">
            <Image src={nan} alt="profile image" width={1000} class="w-full"/>
            <p class="text-accent-red text-sm text-center italic">pictured at national cathedral, dc</p>
        </div>
        <div class="flex flex-col gap-6">
            <p>I'm a strong believer in helping out the individuals who come after me and was able to do so through serving as President for <a class="link-highlight" href="https://www.linkedin.com/company/women-in-computer-science-uic" target="_blank">Women in Computer Science.</a> I also helped launch <a class="link-highlight" href="https://www.sparkhacks.org/" target="_blank">SparkHacks;</a> UIC's own hackathon and served as Co-Director.</p>
            <p>I love <a class="link-highlight" href="https://letterboxd.com/nandanasheri/" target="_blank">watching movies,</a> exploring Chicago, <a class="link-highlight" href="https://beliapp.co/app/naanlovesbiriyani" target="_blank">rating experiences</a> and an occassional read!</p>
        </div>
    </div>
</div>