---
import { Icon } from 'astro-icon/components'
---

<div class="mx-10 md:mx-48 mt-10">
    <hr class="border-t border-dark-red" />
    <div class="flex flex-row text-dark-red mt-2 justify-between px-4 text-g items-center">
        <h3>built by Nandana Sheri</h3>
        <div class="flex flex-row gap-3">
            <a href="mailto:nandanasheri@gmail.com" target="_blank">
                <Icon name="email" />
            </a>
            <a href="https://github.com/nandanasheri" target="_blank">
                <Icon name="github" />
            </a>
            <a href="https://www.linkedin.com/in/nsheri/" target="_blank">
                <Icon name="linkedin" />
            </a>
        </div>
    </div>
</div>

