---
import {Image} from "astro:assets";
import cloud from "../assets/cloud.svg";
---

<div class="flex flex-col gap-3 justify-center items-center text-dark-red text-xl md:text-2xl mx-10 md:mx-48 text-center">
    <h1 class="text-accent-red font-poppins text-6xl md:text-8xl font-bold">Nandana Sheri</h1>
    <h2>computer science student interested in software engineering and natural language processing</h2>
    <h2>studying at university of michigan, ann arbor</h2>
</div>
