---
import NavBar from "../components/NavBar.astro"
import Footer from "../components/Footer.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preload" href="/fonts/poppins-regular.woff2" as="font" type="font/woff2" crossorigin/>
		<link rel="preload" href="/fonts/poppins-700.woff2" as="font" type="font/woff2" crossorigin/>
		<link rel="preload" href="/fonts/nunito-regular.woff2" as="font" type="font/woff2" crossorigin/>
		<link rel="icon" type="image/svg+xml" href="/cat.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Nandana Sheri</title>
	</head>
	<body>
		<div class="flex justify-end md:justify-center gap-1 items-center">
			<div class="absolute top-4 left-4">
				<h2 class="text-xl text-accent-red font-bold font-poppins"><a href="/">Nandana Sheri</a></h2>
			</div>
			<NavBar/>
		</div>
		<main>
			<slot />
		</main>
		<Footer/>

	</body>
</html>

<style>
	html,
	body {
		margin: 0.5rem;
		max-width: 100%;
		min-height: 95vh;
		background-color: #FFF9FB;
		display: flex;
		flex-direction: column;
		font-family: "Nunito"
	}
	/* This grows the main to take up enough space and pushes the footer downwards */
	main {
	flex: 1;
	}
</style>
